<screen>
	<%if @select == 'A' %>
	<div style="position: absolute; top: 10px; left: 10px; width: 240px; height: 66px; border: solid; font-size: 200%; background-color: greenyellow;">A</div>
	<div style="position: absolute; top: 86px; left: 10px; width: 240px; height: 66px; border: solid; font-size: 200%;">B</div>
	<div style="position: absolute; top: 162px; left: 10px; width: 240px; height: 66px; border: solid; font-size: 200%;">C</div>
	<%elsif @select == 'B' %>
	<div style="position: absolute; top: 10px; left: 10px; width: 240px; height: 66px; border: solid; font-size: 200%;">A</div>
	<div style="position: absolute; top: 86px; left: 10px; width: 240px; height: 66px; border: solid; font-size: 200%; background-color: greenyellow;">B</div>
	<div style="position: absolute; top: 162px; left: 10px; width: 240px; height: 66px; border: solid; font-size: 200%;">C</div>
	<%elsif @select == 'C'%>
	<div style="position: absolute; top: 10px; left: 10px; width: 240px; height: 66px; border: solid; font-size: 200%;">A</div>
	<div style="position: absolute; top: 86px; left: 10px; width: 240px; height: 66px; border: solid; font-size: 200%;">B</div>
	<div style="position: absolute; top: 162px; left: 10px; width: 240px; height: 66px; border: solid; font-size: 200%; background-color: greenyellow;">C</div>
	<%end%>
	<h style="position: absolute; top: 232px; left: 5px; font-size: 70%;">[Up] Up &nbsp [Down] Down &nbsp [Select] Back &nbsp &nbsp &nbsp &nbsp [A] Choose</h>

	<map name="gameboy">
		<area id="up" shape="rect" alt="up" coords="78,486,120,526" href="?command=prev&select=<%=@select%>"/>
		<area id="down" shape="rect" alt="down" coords="77,566,120,606" href="?command=next&select=<%=@select%>"/>
		<area id="left" shape="rect" alt="left" coords="32,524,73,568" href="#"/>
		<area id="right" shape="rect" alt="right" coords="124,526,165,566" href="#"/>
		<area id="a" shape="circle" alt="a" coords="425,522,33" href="?select=<%=@select%>&choice=<%=@select%>"/>
		<area id="b" shape="circle" alt="b" coords="343,559,34" href="#"/>
		<area id="start" shape="poly" alt="start" coords="282,642,229,666,229,684,241,686,292,664,292,649,289,647" href="#"/>
		<area id="select" shape="poly" alt="select" coords="198,641,143,669,145,681,156,687,208,662,211,649" href="/<%=$view%>"/>
		<area id="power" shape="circle" alt="battery" title="" coords="69,184,11" href="/"/>
	</map>
</screen>
